body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.play-area {
  width: 800px;
  height: 600px;
  margin: 20px auto;
}
.play-area .s, .play-area .m, .play-area .l {
  cursor: grab;
}
.explanation {
  text-align: center;
}
